/*

Template - All

*/

/* Font color, text, spacing =================================================== */

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    overflow-x: hidden;
    color: white;
    background-color: #2C353C;
}

/* TEC-V Corner Image */
.left-img {
    position: absolute; /* Position the image relative to the header container. */
    margin-top: 5%;
    max-width: 25%;
    max-height: 25%;
  }

/* Background Image Transition speed */
a { 
    transition: all 1.5s;
    text-decoration: none;
}

ul { padding: 0; }
a:hover { text-decoration: none; }
button:focus { outline: none; }
p { line-height: 1.9; }

/* Navigation ============================================================ */
.navbar-toggler {
    padding: 8px 15px;
    border: 0;
    border-radius: 0;
    transform: skewX(-15deg);
    background-color: rgba(0,0,0,0.5);
    color: white;    
}

.navbar-toggler i { transform: skewX(15deg); }

.navbar-expand-lg {
    padding-left: 0;
    padding-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link { padding: 0; }

/* Nav text */
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 20px;   
    font-weight: 400;
    color: white;    
    padding-bottom: 30px;    
}

.nav-item { margin-right: 20px; }

.nav-item:last-child { margin-right: 0; }

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
    color: #9CC;
}

/* Page Background Slash ======================================================= */
.bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1000;
}

.bg-left,
.bg-right {
    position: relative;
    width: 50%;
    height: 100%;
}

/* Square Background */
.bg-right { background-color: rgba(0,0,0,0.7); }

/* Triangle Background */
.bg-left {
    border-right: 230px solid rgba(0,0,0,0.7);
    border-top: 100vh solid transparent;
}

.bg-controls-wrapper {
    display: inline-block;
    margin-left: -150px;
}

.bg-control {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,0.5);
    margin: 6px;
    cursor: pointer;
}

.bg-control.active,
.bg-control:hover {
    background-color: white;
}


/* Shows the gray background slash ======================================= */
.content-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

/* Puts content within gray box (left margin) */
.content-row { display: flex; }

.left-col {
    width: 50%;
    height: 100%;
    padding-left: 40px;  
    padding-right: 40px;
}

/* Puts content within gray box (right margin) */
.right-col {
    width: 50%;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

/* Sets content top margin */
.content {
    max-width: 660px;
    margin-top: -20%;
    padding-right: 20px;
    padding-top: 15%
}

/* Oval Scroll bar to right */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(255,255,255,.8);
    box-shadow: 0 0 1px rgba(255,255,255,.8);
}

/* White Content Separation Slash */
.content-title { font-size: 1.5rem; }
hr { border-top: 1px solid white; }


/* Button on home page =================================================== */
.btn {
    padding: 10px 25px;
    border-radius: 10;
    margin-top: 50px;
}

.btn-big {
    padding: 9px 40px;
    font-size: 1.2rem;;
}

.btn-primary {
    background-color: white;                                 
    color: black;
    border: 0;
}

.btn-primary:hover {
    background-color: #9CC;
    color: black;
}

.site-footer {
    padding: 40px 0 20px;
    max-width: 660px;
    font-size: 0.95rem;
}

.col-footer { padding-left: 0; }
.text-link { color: white; }

.text-link:hover,
.text-link:focus {
    color: #9CC;
}

/* Image and text spacing */
.spacing-text { max-width: 365px; }
.spacing-img { margin-right: 25px; }
.spacing-img-r { margin-left: 25px; }

/* Column Alignment  */
@media (max-width: 768px) {
    .content-row { flex-direction: column; }

    .left-col,
    .right-col,
    .bg-left,
    .bg-right {
        width: 100%;
    }

    #main-nav {
        position: fixed;
        top: 50px;
        right: 40px;
        padding-bottom: 0;
    }  
    
    .bg { flex-direction: column; }

    .bg-left {
        height: 200px;        
        border-bottom: 50px solid rgba(0,0,0,0.5);
        border-right: 0;
        border-top: 0;
    }

    .bg-right { height: calc(100% - 200px); }

    .bg-controls-wrapper {
        margin-left: 0;
        margin-top: 50px;
    }

    .content {
        max-height: none;
        margin-top: 40px;
    }

    .right-col {
        padding-top: 40px;
        padding-left: 30px;
    }

    .col-footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Site name and logo */
@media (max-width: 460px) {
    .sitename { font-size: 1.5rem; }
}

/* Spacing for media Images */
@media (max-width: 450px), (min-width: 768px) and (max-width: 830px), (min-width: 992px) and (max-width: 1040px) {
    .spacing-media { flex-direction: column; }
    .spacing-media-img-l { flex-direction: column-reverse; }
    .spacing-text { margin-top: 20px; }
    .spacing-img { margin-right: 0; }
    .spacing-img-r { margin-left: 0; }
}
